.twoLists {
  display: flex;
}

.js__serieStyle {
  background-color: pink;
}

.js__serieStyleFavourite {
  background-color: green;
}

.hidden {
  display: none;
}

.js__elements {
  list-style: none;
}

.js__favouriteList {
  list-style: none;
}
