.mainTitle {
  font-family: fantasy;
  color: #d64161;
}
.search-button {
  border-radius: 15px;
  color: #d64161;
  border: none;
  cursor: pointer;
  padding: 6px;
  background-color: #feb236;
  font-weight: bold;
}
.twoLists {
  display: flex;
}

.js__serieStyle {
  background-color: pink;
}

.js__serieStyleFavourite {
  background-color: green;
  color: purple;
  font-size: 25px;
}

.hidden {
  display: none;
}

.js__elements {
  list-style: none;
}

.favourite__container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-left: 40px;
}

.js__favouriteList {
  list-style: none;
}

.btnReset {
  width: 70px;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
}

/* .twoLists {
  display: flex;

  &__js__elements {
    list-style: none;
  }

  &__favourite__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      background-color: blue;
    }

    &__js__favouriteList {
      list-style: none;
    }
  }
} */
